@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

html {
  /* font size: 1rem = 10px */
  font-size: 62.5%;
}

body,
p,
a,
ul,
li,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--very-dark-violet);
  font-weight: normal;
}

li {
  list-style-type: none;
}

.btn {
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 1.3rem 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: var(--DarkViolet);
}

.main__features .line {
  max-width: 150px;
  height: 1px;
  background-color: #c396c6;
}

.font-karla {
  font-family: 'Karla', sans-serif;
}

.font-dm {
  font-family: 'DM Serif Display', serif;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.font-gray-violet {
  color: #837d87;
}

.main__intro h1,
.main__intro h2,
.main__intro a {
  color: #fff;
}

body {
  text-align: center;
}

.main__intro h1,
.main__features h3 {
  font-size: 4.8rem;
  line-height: 1;
  letter-spacing: -0.67px;
}

.main__intro h2 {
  font-size: 1.6rem;
  line-height: 1.625;
}

.container {
  padding: 0 2.4rem;
  min-width: 375px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__content {
  background-image: url(/images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left;
  padding: 9.3rem 0;
}

.main__intro h2 {
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}

header {
  padding: 3.1rem 0;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .header__nav-items {
  display: none;
}

header nav .header__dropdown-btn {
  cursor: pointer;
}

.header__dropdown-menu {
  z-index: 2;
  min-height: 100vh;
  min-width: 100%;
  margin-top: 3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--very-dark-violet);
  color: #fff;
  display: none;
  background-image: url(/images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.header__dropdown-menu.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__dropdown-menu .header__nav-items {
  margin-top: 4rem;
  width: 100%;
  padding: 0 2.4rem;
}

.header__dropdown-menu .header__nav-items .header__nav-item {
  font-size: 2rem;
  line-height: 2;
  letter-spacing: 1.36px;
  cursor: pointer;
  text-transform: uppercase;
}

.header__dropdown-menu .header__nav-items .header__nav-item:last-child {
  border: 1px solid #fff;
  padding: 0.8rem 0;
  width: 100%;
}

.header__dropdown-menu .header__nav-items .header__nav-item:not(:last-child) {
  margin-bottom: 2.4rem;
}

.main__intro {
  background-color: var(--dark-violet);
}

.main__intro a.btn {
  padding-left: 2.85rem;
  padding-right: 2.85rem;
  display: inline-block;
}

.main__img--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__img--mobile img {
  width: 100%;
}

.main__img--desktop {
  display: none;
}

.main__hero--desktop {
  display: none;
}

.main__text-wrap {
  width: 100%;
}

.white-bar {
  display: none;
}

#side-pattern-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

#side-pattern-desktop {
  display: none;
}

.main__features {
  margin: 14rem 0;
}

.main__features .line {
  margin: 0 auto;
  margin-bottom: 4rem;
}

.main__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8rem;
}

.main__card h4 {
  font-size: 2.8rem;
  letter-spacing: -0.39px;
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
}

.main__card p {
  font-size: 1.6rem;
  line-height: 1.625;
}

.main__card:not(:last-child) {
  margin-bottom: 5.6rem;
}

.cta {
  margin-bottom: 14rem;
}

.cta__content {
  background-color: var(--dark-violet);
  background-image: url(/images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  padding: 7.2rem 0;
}

.cta__content a {
  display: inline-block;
  padding-left: 2.45rem;
  padding-right: 2.45rem;
}

.cta__content h4 {
  color: #fff;
  font-size: 4rem;
  line-height: 1;
  letter-spacing: -0.56px;
  padding: 0 2.4rem;
  margin-bottom: 4rem;
}

footer {
  background-color: var(--very-light-gray);
  background-image: url(/images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  padding-top: 8.8rem;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

.footer__socials .logo {
  margin-bottom: 3.2rem;
}

.footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-icons .icon {
  cursor: pointer;
  max-width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0.8rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__social-icons .icon:hover {
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}

.footer__divider {
  width: 100%;
  height: 1px;
  background-color: #dadada;
}

.footer__nav {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  margin-bottom: 8.8rem;
}

.footer__nav p {
  font-size: 1.3rem;
  margin-bottom: 3.6rem;
}

.footer__nav ul li {
  color: var(--dark-violet);
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.footer__nav ul li:hover {
  text-decoration: underline;
}

.footer__nav ul li:not(:last-child) {
  margin-bottom: 1.6rem;
}

.footer__nav-card:not(:last-child) {
  margin-bottom: 4rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 3rem;
}

.attribution a {
  color: var(--dark-violet);
  text-decoration: underline;
}

@media (min-width: 768px) {
  .main__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main__content {
    text-align: left;
    max-width: 50%;
  }
  .main__img--mobile {
    position: absolute;
    right: 0;
    margin: 5rem 2.4rem;
    max-width: 45%;
  }
}

@media (min-width: 992px) {
  .header__dropdown-btn {
    display: none;
  }
  .header__dropdown-menu {
    display: none;
  }
  .header__nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav-item {
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: var(--dark-grayish-violet);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__nav-item:not(:last-child) {
    margin-right: 2.5rem;
  }
  .header__nav-item:not(:last-child):hover {
    color: var(--very-dark-violet);
  }
  header nav .header__nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #view_plans {
    color: var(--very-dark-violet);
    padding: 1.3rem 2rem;
    border: 1px solid var(--very-dark-violet);
  }
  #view_plans:hover {
    color: #fff;
    background-color: var(--very-dark-violet);
  }
  .main__img--mobile {
    max-width: 100%;
  }
  .main__card {
    padding: 0 2rem;
  }
  .main__card:not(:last-child) {
    margin-bottom: 0;
  }
  .main__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 10rem;
  }
  .main__img--mobile {
    position: absolute;
    right: 0;
    margin: 5rem 10rem;
    max-width: 45%;
  }
  .main__content {
    max-width: 60%;
  }
}

@media (min-width: 1440px) {
  body {
    text-align: left;
  }
  .container {
    max-width: 1440px;
    padding: 0 16.5rem;
    margin: 0 auto;
  }
  #view_plans {
    padding: 1.3rem 2.85rem;
  }
  .main__intro {
    display: block;
  }
  .main__content {
    text-align: left;
    max-width: 100%;
  }
  .main__text-wrap {
    width: 49%;
  }
  .main__intro .main__content {
    background-image: none;
    padding-top: 10.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main__intro .main__content .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__intro {
    max-height: 600px;
  }
  .main__intro h1 {
    font-size: 7.2rem;
    line-height: 0.88;
    letter-spacing: -1px;
  }
  .main__intro h2 {
    margin-bottom: 2.4rem;
  }
  .main__img--mobile {
    display: none;
  }
  .main__img--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    overflow-y: hidden;
  }
  .main__img--desktop img {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  .main__hero--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .white-bar {
    display: block;
    height: 1px;
    max-width: 150px;
    background-color: #fff;
    margin-bottom: 6.3rem;
  }
  .intro-hero-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #side-pattern-mobile {
    display: none;
  }
  #side-pattern-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    -webkit-transform: translateY(-34%);
            transform: translateY(-34%);
  }
  .main__features {
    margin-top: 30.5rem;
    margin-bottom: 15.8rem;
  }
  .main__features .line {
    margin: unset;
    margin-bottom: 6.3rem;
  }
  .main__features h3 {
    font-size: 7.2rem;
  }
  .main__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 9.6rem;
  }
  .main__card:not(:last-child) {
    margin-left: 3rem;
  }
  .cta {
    margin-bottom: 15rem;
  }
  .cta__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(/images/bg-pattern-how-we-work-desktop.svg);
    background-position: right center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 6.8rem 8.1rem;
  }
  .cta__content h4 {
    margin-bottom: 0;
    font-size: 5.6rem;
    padding: 0;
    letter-spacing: -0.78px;
  }
  footer {
    background-image: url(/images/bg-pattern-footer-desktop.svg);
    padding-top: 6.7rem;
  }
  .footer__socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 3.6rem;
  }
  .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 4.8rem;
  }
  .footer__nav-card {
    min-width: 255px;
  }
  .footer__nav-card:not(:last-child) {
    margin-bottom: 0;
    margin-right: 3rem;
    margin-bottom: 6.4rem;
  }
}
/*# sourceMappingURL=main.css.map */